.container {
    padding-top: 160px;
}

.lighting-border {
    display: inline-block;
    position: relative;
    padding: 2px;
    
}

.lighting-border::before, .lighting-border::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    visibility: hidden;
    border: 2px solid black;
    transition: width .5s, height .5s, visibility 0.3s;
}

.lighting-border::before {
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
}

.lighting-border::after {
    right: 0;
    bottom: 0;
    border-top: 0;
    border-left: 0;
}

.lighting-border:hover:before, .lighting-border:hover:after {
    width: 100%;
    height: 100%;
    visibility: visible;
}

/* ****************************drag & drop file **************************** */

.drop-wrap {
    margin-top: 60px;
}


div.drop-area{
    margin-top: 5px;
    width: 400px;
    height : 400px;
    border : 1px solid black;
    background-color: white;
}

.drop-area.active {
    background-color: darksalmon;
}