* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.hidden{
    display: none;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
}

.x-header {
    height: 70px;
    background-color: #03c75a;
}
.x-header .x-header-wrap {
    margin: 0 auto;
    height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.x-header .header-tab{
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x-header .header-tab .infologo > span{
    font-weight: bold;
    font-size: 25px;
    color: #efefef;
    margin-left: 10px;
}
.x-header .spacer {
    width: 80px;
}
.x-header .logo .logo-image {
    width: 80px;
    height: 50px;
    border-radius: 10%;
}
.x-header .header-menu{   
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.x-header .header-menu li{   
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efefef;
}
.x-header .header-menu li i{
    
}
.x-container .nav-menu-wrap {
    width: 100%;
    height: 50px;
    border-bottom: 1px;
    border: 1px solid #efefef;
}
.x-container .nav-menu-wrap .nav-menu-content {
    width: 800px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    color: #949494;
}

.content { width: 800px; margin: 0 auto;padding-top: 60px;}

.brand-logo {
    text-align: center;
}

.brand-logo .brand-image {
    width: 300px;
} 

.join-form-wrap {
    padding-top: 70px;
    margin: 0;
}

.join-form .tab-content {
    height: 100%;
}

.join-form .input-info {
}

.join-form .input-info .info-wrap {
    border-left: 0;
    border-right: 0;
    display: flex;
    border: 1px solid #949494;
    width: 800px;
}

.join-form .input-info .info-wrap .menu-info {
    background-color: #efefef;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#info{
    display: flex;
    flex-direction: column;
}
.current-info span {
    vertical-align: middle;
    justify-content: center;
}

.join-form .input-info .info-wrap .current-info-wrap {
    margin-top: 50px;
    margin-left: 50px;
    width: 600px;
    height: 50px;
    
}
.rank {
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}
.joinout {
    display: flex;
    align-items: center;
}


.joinout > *{
    margin-right: 15px;
}
#btn-join-out {
    margin-left: 10px;
    color: black;
    background-color: gray;
    width: 90px;
    height: 30px;
    border: 1px solid #949494;
    border-radius: 5px;
}

.join-form .input-info .info-wrap .change-info {
    margin-top: 10px;
    margin-left: 50px;
}



/* *************************************** */



#btn-email-change, #btn-account-change, #btn-password-change{
    color: #949494;
    background-color: white;
    width: 40px;
    height: 30px;
    border: 1px solid #949494;
    border-radius: 5px;
}

.join-form .input-info .input-user-account {
    width: 65%;
}


.join-form .input-info .btn-delete-text { 
    flex: 0 0 20px;
    height: 20px;
    border: 0;
    background-color: transparent;
    margin-right: 8px;
    width: 40px;
}

.join-form .input-info .delete-icon {
    display: none;
    color: #949494;
}

.join-form .input-info .info-wrap:focus-within .delete-icon {
    display: block;
}

/* ******************************* */
.join-form .input-info .info-wrap.var {
    border-top: 0;
}



@media screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}